* {
	margin: 0;
	box-sizing: border-box;
}

body {
	background: #E5E5E5;
}

.container {
	margin-left: 13%;
	height: 100vh;
}

.nav {
	width: 90%;
	height: 100px;
	display: flex;
	align-items: center;
	font-family: Helvetica;
}

.nav img {
	width: 49px;
	height: 35px;
}

.menu {
	margin-left: 27px;
}

.menu span {
	font-weight: 300;
	font-size: 14px;
	font-family: 'Roboto';
	margin-left: 22px;
}

a {
	text-decoration: none;
}

.menu a {
	color: #4B5D68;
}

.menu strong a {
	color: #212353;
}

.button-request {
	margin-left: 50%;
	width: 210px;
	height: 60px;
	background: #FFFFFF;
	border-radius: 50px;
	box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
}

.button-request a {
	font-weight: 700;
	font-size: 14px;
	font-family: 'Roboto';
	line-height: 64px;
	margin-left: 35px;
	color: #212353;
}

.seta {
	position: absolute;
	margin-top: -47px;
	margin-left: 9px;
}

.seta #back {
	position: absolute;
	width: 20x;
	height: 2px;
	height: 2px;
	margin-left: 120px;
	margin-top: 14px;
}

.seta #polygon {
	position: absolute;
	width: 20x;
	height: 15px;
	margin-left: 129px;
	margin-top: 7.5px;
}

h2 {
	position: absolute;
	margin-top: 78px;
	font-style: normal;
	line-height: 110%;
	width: 640px;
	height: 184px;
	font-family: Helvetica;
	font-size: 75px;
	color: #212353;
}

p {
	position: absolute;
	width: 290px;
	text-align: justify;
	height: 120px;
	margin-top: 294px;
	color: #4B5D68;
	font-family: 'Roboto';
	font-weight: 300;
}

.landing {
	position: absolute;
	width: 50%;
	height: 60%;
	left: 35%;
	top: 216px;
}

.button-container {
	width: 170px;
	height: 60px;
	background: #9C69E2;
	border-radius: 50px;
	margin-top: 400px;
	transition: 0.2s;
}

.button-container:hover {
	background: rgba(156, 105, 228, 0.699);
}

.button-container a {
	color: #FFFFFF;
	font-weight: 700;
	font-size: 14px;
	font-family: 'Roboto';
	line-height: 64px;
	margin-left: 50px;
}